html {
    background-color: #666666;
}

.box-watch,
.box-activity {
    background-color: #1a1a1a;
    width: 90%;
    height: 100vh;
    padding-top: 0.5rem;
    /* border: 1px solid red; */
    border-radius: 0.8rem;
    margin-left: auto;
    margin-right: auto;
}
.date,
.hour {
    color: #ffffff;
    font-family: sans-serif;
    font-size: 6vw;
    text-align: center;
    margin-bottom: 0.5rem;
}

.date {
    margin: 1rem;
}

.hour {
    margin-top: 0.1rem;
    margin-bottom: 2rem;
    font-size: 4vw;
}

.box-buttons{
    text-align: center;
}

.temporizator {
    color: #d45500;
    font-size: 10vw;
    font-family: sans-serif;
    text-align: center;
}

.boton-actividad,
.boton-duracion,
.boton-pausar,
.boton-reanudar,
.boton-limpiar {
    background-color: #004455;
    color:#ffffff;
    box-shadow: 2px -2px #006680;
    font-size: 3vw;
}

.boton-pausar,
.boton-reanudar {
    margin-top: 1rem;
    margin-right: 1rem;
}

.textarea {
    font-size: 3vw;
    width: 35vw;
    resize: none;
    border: 0;
}

::placeholder {
    color: rgba(86, 86, 95, 0.2);
}

ul {
    width: 85vw;
    padding: 5px;
}

.text-title {
    font-family: sans-serif;
    font-size: 3vw;
    text-align: center;
    list-style-type: none;
}

.text-title li {
    color: #d45500;
    display: inline;
    margin: auto 1vw;
    width: 50%;
}

.text-activity {
    margin-left: 0;
}

.text-activity li {
    color: #ffffff;
    display: inline;
    margin: auto 5vw;
    width: 50%;
}


